boto==2.42.0
Django==1.10.1
django-appconf==1.0.2
django-compressor==2.1
django-crispy-forms==1.6.0
django-imagekit==3.3
django-markdown-deux==1.0.5
django-pagedown==0.1.1
django-simple-captcha==0.5.2
django-storages==1.5.1
django-taggit==0.21.2
markdown2==2.3.1
pilkit==1.1.13
Pillow==3.1.0
psycopg2==2.5.4
python-memcached==1.58
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
